<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Noissy</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <style>
    div.userInfoContainer {
      padding: 1px 14vw;
      background-color: #212529;
      color: white;
    }

    ul {
      list-style-type: none;
      margin: 4vh 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      text-align: center;
      float: left;
    }

    li:last-child {
      float: right;
    }

    .userInfo {
      display: flex;
    }

    .footerChatBoxPart {
      /* margin: 0 14vw; */
      width: 100%;
    }

    .headerChat {
      /* background-color: #212529; */
      /* color: white; */
      width: 100%;
      margin: 0 0;
      padding: 2vh 14vw;
      display: inline-flex;
      background-color: #212529;
      color: white;
    }

    .bodyPart {
      padding: 2vh 14vw;
      text-align: center;
    }

    h2 {
      margin: 0.39062rem 2rem;
    }

    /* Chat Message part */

    .chatMessagePart {
      height: 1%;
      padding: 32px 14vw 16vh 14vw;
    }

    /* Footer Chatbox part */

    .footerChatBoxCont {
      padding: 16px 0;
      display: block;
      position: fixed;
      bottom: 0;
      width: inherit;
      background-color: white;
    }

    #footerChatBox {
      display: flex;
    }

    .chatBox {
      margin-left: 14vw;
      margin-right: 1.175vw;
    }

    .chatSubmit {
      margin-right: 14vw;
    }

    .inliner {
      display: flex;
    }

    .nes-btn.is-primary{
      margin-left: 24px;
    }
  </style>
</head>

<body>

  <!-- User Info part -->

  <div class="userInfoContainer">
    <ul>

      <!-- This is User Info -->
      <li>
        <div class="userInfo">
          <i class="nes-jp-logo"></i>
          <h2>
            Noissy
          </h2>
        </div>
      </li>

      <!-- User Info button part -->
      <li><button type="button" onclick="location.href='/logout'" class="nes-btn is-error">Logout</button></li>
    </ul>
  </div>

  <!-- Chat Message part -->
  <div class="bodyPart">
    <form action="/chat=<%=user[0].id%>" method="post"></form>
    <div class="form-control">

      <label for="userid" hidden>Username</label>
      <select name="userid" id="userName" hidden>
        <% user.forEach(el=> { %>
          <option value="<%= el.id %>" hidden>
            <%= el.userName %>
          </option>
          <% }); %>
      </select>

      <h2>Welcome, <%= user[0].userName %>!</h2>

      <br>

      <div class="nes-select">
        <label for="roomName">Your Chat Room List</label>
        <select id="default_select" name="roomName">
          <option value="" disabled selected hidden>Select...</option>
          <% data.forEach(el=> { %>
            <option value="<%= el.ChatRoom.chatroomname %>">
              <%= el.ChatRoom.chatroomname %>
            </option>
            <% }); %>
        </select>
      </div>

      <br>

      <h2>Or</h2>

      <br>

      <form action="/addroom" method="post">
        <% user.forEach(el=> { %>
          <input type="number" name="userid" value="<%= el.id %>" readonly hidden>
          <% }); %>

            <div class="nes-field">
              <label for="chatroomname">Create new chat room!</label>
            </div>
            <div class="nes-field inliner">
              <input type="text" name="chatroomname" id="name_field" class="nes-input">

              <input type="submit" class="nes-btn is-primary" value="Create Room">
            </div>
      </form>
      <br><br>
      <form action="/joinchat/<%= user[0].id %>" , method="POST">
        <label for="roomName">Know your room yet? Cool, let's join!</label>
        <div class="nes-field inliner">
          <input type="text" class="nes-input" name="roomName">
          <input type="submit" class="nes-btn is-primary" value="Join Room">
        </div>
      </form>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>

</body>

</html>